/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014-05-27, 15:25:48
    Author     : marek
*/

.helion_wyszukiwarka {}
.helion-search { text-align: center; }
.helion_wyszukiwarka form { padding: 0 !important; margin: 0 !important; }
.helion-search-submit { margin-top: 15px; }
input[name="fraza"] { margin: 0; width: 95%; display: block; }